@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --btn-primary: #a93c40;
  --btn-primary-hover: #58070a;
  --text-hover: #fff7f0;
  --btn-secondary: #092c4c;
  --btn-cancel: #637381;
  --btn-cancel-hover: #212529;
}
